@charset "utf-8";
/* CSS Document */

.tseteli {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    margin-top: 10px;
    border-width: 15px;
    border-style: solid;
    /*border-image: linear-gradient(to right, darkblue, darkorchid) 1;*/
    color: #353535;
    border-radius: 12px;
  }