@charset "utf-8";
/* CSS Document */

body {
  background-repeat: no-repeat, round;
  background-position: center;
  background-position-y: 60px;
	background: linear-gradient(100deg, #d50000, #c7d500, #14d500, #00aed5, #002ad5, #d50082);
    background-size: 1400% 1400%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
	-o-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}
@keyframes AnimationName {
    0%{background-position:0% 18%}
    50%{background-position:100% 83%}
    100%{background-position:0% 18%}
}


 

.header {
  border-radius: 12px;
	background-color: #353535;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	text-align: center;
  margin-top: 10px;
}

/*
.sivut {
  font-style: oblique;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
font-weight: 800;
  font-size: large;
  text-align: center;
  color: rgb(233, 245, 255);
}

.sivu {
  color: rgb(233, 245, 255);
}
*/

.tseteli {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-top: 10px;
  border-width: 15px;
  border-style: solid;
  /*border-image: linear-gradient(to right, darkblue, darkorchid) 1;*/
  color: #353535;
  border-radius: 12px;
}

.sivunhajotus {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  background-color: #353535;
  border-radius: 12px;
  padding: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  word-wrap: break-word;
}

.textdiv {
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  background-color: #353535;
  border-radius: 12px;
  padding: 10px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  word-wrap: break-word;
}

.bn632-hover {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn25 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}


.JSbutton {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.JSbutton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.JSbutton:active {
    color: #000
}

.JSbutton:active:after {
    background: transparent;
}

.JSbutton:hover:before {
    opacity: 1;
}

.JSbutton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

