@charset "utf-8";
/* CSS Document */

body {
    background-image: url('img/örbg.png');
    background-size: cover;
    background-repeat: no-repeat, round;
    background-position: center;
    background-position-y: 60px;
    background-color: rgb(255, 53, 71);
  }

.testdiv {
	background-color: rgb(255, 53, 71);
}

.header {
	background-color: #8f32ff;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.sivut {
    font-style: oblique;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-weight: 800;
    font-size: large;
    text-align: center;
}

.tseteli {
  border: 5px solid #8f32ff;
}

